{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}

{% block css %}
body {
    background: #4E1A5C;
    color: white;
}

{% endblock %}

{% load static %}

{% block body %}
    <div class="container-fluid" style="margin: 100px 0 2rem 0;">            
        <div style="background-color: #4E1A5C; color: white; padding: 20px; margin-top: 50px">
            <h1>What they said.</h1>
        </div>
    </div>

    {% for review in reviews %}
        <div class="container">
            <img src="{{review.product.imglink}}">

            <blockquote class="blockquote">
                <h1>{{review.bintang}} STAR</h1>
                <p class="mb-0">{{review.msg}}</p>
                <footer class="blockquote-footer">{{review.date}} - {{review.reviewer}}  <cite title="Source Title">{{review.product.name}}</cite></footer>
            </blockquote>
        </div>
    {% endfor %}

    <div class="container mb-5">
        <form action="#" method="POST">
            <div class="form-group">
                {% csrf_token %}
                {{form|crispy}}
            </div>

            <input class="btn btn-primary w-25" type="submit">
        </form>
    </div>
    
    
{% endblock %}