{% extends 'homepage/base.html' %}

{% block body %}
    <div class="container-fluid" style="margin-top: 100px;">
        <div class="row">
            <div class="col-sm-6">
                <img src="{{items.imglink}}" class="img-fluid mx-auto d-block" width="400px">
            </div>
            <div class="col-sm-6">
                <h1>{{items.name}}</h1>
                <h3 style="background-color: #4E1A5C; color: white; padding: 3px;">${{items.price}}</h3>
                <p>{{items.desc}}</p>
                <p>Stok: {{items.stok}}</p>
                {% if user.is_authenticated %}
                <a href="{% url 'payment:checkout' user.id %}"><button class="btn btn-primary my-2">Beli Sekarang</button></a>
                {% else %}
                <a href="{% url 'payment:checkout' 1 %}"><button class="btn btn-primary my-2">Beli Sekarang</button></a>
                {% endif %}
                <div product="{{ items.id }}" class="addToCart btn btn-secondary">Add to Cart</div>
            </div>
        </div>
    </div>
    <div style="background-color: #4E1A5C; color: white; padding: 20px; margin-top: 50px">
        <h1>What they said.</h1>
    </div>

    <div style="background-color: #220229; color: white; padding: 100px">
        <div class="container-fluid">
            <img src="{{review.product.imglink}}" width="200px">
    
            <blockquote class="blockquote">
                <h1>{{review.bintang}} STAR</h1>
                <p class="mb-0">{{review.msg}}</p>
                <footer class="blockquote-footer">{{review.date}} - {{review.reviewer}}  <cite title="Source Title">{{review.product.name}}</cite></footer>
            </blockquote>
        </div>
    </div>

    <!-- notification -->
    <div id="notif" style="position: fixed; right: 1rem; top: 4.5rem;">        
    </div>
{% endblock %}

{% block script %}
<script>$(document).ready(function() {
    function notif(imgLink, name, price) {           
        $("#notif").append('<div class="alert alert-success"><img src="' + imgLink + '" alt="" class="mr-2" style="height: 75px; width: auto; border-radius: 5px;"><span class="float-right">' + name + '<br>$' + price + '<br><b>Added to cart!</b></span></div>'); 
        $("#notif").css("opacity", "1");    
        $("#notif").css("transition", "all .5s ease");   
        setTimeout(function() {            
            $("#notif").css("opacity", "0");            
        }, 2500);
        setTimeout(function() {
            $("#notif").empty();            
        }, 3000);
                
    }

    

    $(".addToCart").click(function(){
        var product = $(this).attr("product");
        console.log(product)
        $.ajax({
            url: "{% url 'product:add' %}", 
            data: { user: "{{ user.username }}", product: product },

            success: function(product) {
                console.log(product);
                notif(product.imglink, product.name, product.price);                    
            },

            type: 'POST'
        });
    });

});</script>
{% endblock %}