{% extends 'homepage/base.html' %}

{% block body %}
    <div class="container-fluid" style="margin-top: 100px;">
        <p style="opacity: 65%;">Showing {{allitems.count}} product for keyword {{query}}</p>
        <div class="row">
            {% for item in allitems %}
                <div class="col-sm-3">                    
                    <div class="card" style="height: 350px; margin-bottom: 25px; cursor: pointer;">
                        <img src="{{item.imglink}}"  onclick="location.href='{{item.id}}';" class="img-fluid mx-auto d-block" width="100%">
                        <div class="card-body"  onclick="location.href='{{item.id}}';">
                            <a href="{% url 'product:id' item.id %}">
                                <h5 class="card-title">{{item.name}}</h5>
                            </a>
                        </div>
                        <div class="card-footer">
                            <span class="float-left">
                                {% if user.is_authenticated %}
                                <a href="{% url 'payment:checkout' user.id %}"><button class="btn btn-primary my-2">Beli Sekarang</button></a>
                                {% else %}
                                <a href="{% url 'payment:checkout' 1 %}"><button class="btn btn-primary my-2">Beli Sekarang</button></a>
                                {% endif %}                                <div product="{{ item.id }}" class="addToCart btn btn-sm btn-secondary">Add to Cart</div>
                            </span>
                            <h5 class="card-text float-right">${{item.price}}</h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

<!-- notification -->
<div id="notif" style="position: fixed; right: 1rem; top: 4.5rem;">        
</div>
{% endblock %}

{% block script %}
<script>$(document).ready(function() {
function notif(imgLink, name, price) {           
    $("#notif").append('<div class="alert alert-success"><img src="' + imgLink + '" alt="" class="mr-2" style="height: 75px; width: auto; border-radius: 5px;"><span class="float-right">' + name + '<br>$' + price + '<br><b>Added to cart!</b></span></div>'); 
    $("#notif").css("opacity", "1");    
    $("#notif").css("transition", "all .5s ease");   
    setTimeout(function() {            
        $("#notif").css("opacity", "0");            
    }, 2500);
    setTimeout(function() {
        $("#notif").empty();            
    }, 3000);
            
}



$(".addToCart").click(function(){
    var product = $(this).attr("product");
    console.log(product)
    $.ajax({
        url: "{% url 'product:add' %}", 
        data: { user: "{{ user.username }}", product: product },

        success: function(product) {
            console.log(product);
            notif(product.imglink, product.name, product.price);                    
        },

        type: 'POST'
    });
});

});</script>
{% endblock %}