a.nav-custom {
    color: white;
    text-decoration: none;
    margin-right: 7.5px;
    margin-left: 7.5px;
}

a.nav-custom:hover {
    opacity: 65%;
}

.btn-primary {
    color: white;
    background-color: #9e4065;
    border-color: #9e4065;
}

.btn-custom {
    color: white;
    background-color: #4e1a5c;
    border-color: #4e1a5c;
}

.btn-primary:hover {
    background-color: #d17298;
    border-color: #d17298;
}

.btn-custom:hover {
    color:white;
    background-color: #2a172f;
    border-color: #2a172f;
}

.navbar-logo{
    font-size: 2rem;
    width: auto;
    color: #C56F92;
}
a.navbar-brand {
    color: #C56F92 !important;
}
.navbar-adjust {
    padding: 0 .5rem;
    min-height: 50px;
}