{% extends 'homepage/base.html' %}

{% load crispy_forms_tags %}

{% block body %}
    <div class="container" style="margin-top:100px">        
        <div class=" border border-dark p-4 rounded mb-4">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        Login dan khilaf sekarang!
                    </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-dark" type="submit">
                        Sign In
                    </button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Belum punya akun? <a href="{% url 'register' %}">Daftar</a> sekarang
                </small>
            </div>
        </div>
    </div>
{% endblock %}