{% extends 'homepage/base.html' %}

{% block body %}
    <div class="container" style="margin-top:100px">
        <h2>Yah, anda berhasil logout :((</h2>
        <div class="border-top pt-3">
            <small class="text-muted">
                <a href="{% url 'login' %}">Masuk dan khilaf lagi</a>
            </small>
        </div>
    </div>
{% endblock %}