{% extends 'homepage/base.html' %}
{% load crispy_forms_tags %}

{% block css %}
<!-- .promo {
    margin-top: 5rem;
} -->

.deal {
    height: 25vh;
    background-color: #C56F92;
    color: white;
}

.btn-use {
    background-color: #791D42;
    color: white;
    border: #791D42;
}
.btn-use:hover {
    background-color: #9E4065;
    color: white;
    border: #9E4065;
}
#div_id_category {
    display: flex;
    flex: row; 
} 
#div_id_category div {
    display: flex;
    flex: row; 
    margin: 0 .5rem 0 .5rem;
}
#div_id_text label {
    display: none;
}
{% endblock %}

{% block body %}
<div class="promo">
    <div class="container-fluid d-flex align-items-center deal"> 
        <div class="col-12 text-center">
            <h1 class="display-3">Todays's Deals!</h1>
        </div>
    </div>   

        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-8 my-4" >
                <form action="#" method="POST">
                    {% csrf_token %} 
                    {{form|crispy}}
                    <input class="btn btn-secondary float-right" type="submit" value="Search Discount">
                </form>
                </div>
            </div>  
            
            <div class="row d-flex flex-wrap justify-content-center">
                    {% for promo in promos %}
                        <div class="col-sm-6 my-2">
                            <div class="card" style="max-width:100%;">
                                <div class="row no-gutters">
                                    <div class="col-md-5">
                                        <div class="card-img" style="height:100%; width: 100%; background: {% cycle 'indigo' 'palevioletred' 'rebeccapurple' '#9e4065' '#4e1a5c' '#d17298' %};" alt="#"></div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body pr-0">
                                            <h5 class="card-title">{{promo.name}}</h5>
                                            <p class="card-text">valid until: {{ promo.expiredDate }}<br>
                                            disc. {{promo.persenDiskon}}%<br>
                                            min. purchase ${{promo.hargaMinimum}}
                                            </p>
                                            <a href="#" class="btn btn-use px-4 mr-1">Use</a> 
                                            CODE: {{promo.kodePromo}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
        </div>
</div>
{% endblock %}