{% extends 'homepage/base.html' %}

{% load static %}

{% block title %} Shopepew | Checkout {% endblock %}

{% block body %}

<div id="checkout" class="container">
    {% if form %}
        
        <!------------ SHOPPING CART ------------>
        
        <div class="row cart">        
            <div class="col-md-8">
                <div class="cart d-flex flex-row align-items-center my-3"><div class="circle m-2"></div><h4>Shopping Cart</h4></div>
                {% for product in cart.products %}
                <div class="card mb-2" style="max-width:100%;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{product.imglink}}" style="width: 100%;" class="card-img" alt="#">
                        </div>
                        <div class="col-md-4">
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">${{product.price}}</p>
                                <p class="card-text">qty: 
                                    <i class="far fa-caret-square-down move-down" id="{{ product.id }}" style="color: palevioletred; font-size: 1.5rem;"></i> 
                                    <span id="qty-{{ product.id }}"  style="font-size: 1.5rem;">{{product.qty}}</span>
                                    <i class="far fa-caret-square-up move-up" id="{{ product.id }}" style="color: palevioletred; font-size: 1.5rem;"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4 sticky-top">
                <div class="cart d-flex flex-row align-items-center my-3"><div class="circle m-2"></div><h4>Summary</h4></div>
                <div class="card p-4 ">
                    <div class="card-title">
                        {% for product in cart.products %}
                        <p>{{ product.name }}<span class="float-right subtotal{{product.id}}">${{ product.subtotal }}</span></p>
                        {% endfor %}
                        <hr>
                        <div class="float-left">Total</div>
                        <div id="totalPrice" class="float-right">${{ total }}</div>
                    </div>
                    <hr>
                    <form action="{% url 'payment:checkout' user.id %}" method="POST">
                        {% csrf_token %} 
                        Enter promo code:
                        {{form.promo}}                       
                    <hr>
                    <input class="btn btn-primary btn-lg w-100" type="submit" value="Buy Now">
                    
                </div>
                <div class="card p-4" id="smartCoupon">
                    <div class="card-title">
                        Coupon Browser
                    </div>
                    <hr>

                    <input id="coupon-browse" type="text" class="form-control my-2" placeholder="Minimal Persen Diskon">
                    <button id="coupon-button" type="button" class="btn btn-primary coupon-button">Search</button>
                </div>

                <div class="card p-4">

                    <div class="container" id="coupon-results">

                        <a class="dropdown-item" href="#"> </a>
                    </div>
                </div>

                
            </div>
        </div>

        <!------------ SHIPPING DETAILS ------------>
        <div class="cart d-flex flex-row align-items-center my-3"><div class="circle m-2"></div><h4>Shipping Details</h4></div>
        <div class="row shipping">
            <div class="col-md-8">
                <div class="container justify-space-between">                    
                        <div class="form-row my-1">
                            <div class="col">
                                {{ form.firstname }}
                            </div>
                            <div class="col">
                                {{ form.lastname }}
                            </div>
                        </div>
                        <div class="form-row m-1">
                            {{ form.address }}
                        </div>
                        <div class="form-row my-1">
                            <div class="col">
                                {{ form.postalcode }}
                            </div>
                            <div class="col">
                                {{ form.phone }}
                            </div>
                        </div>                     
                    </form>
                </div>
                <hr>
                <fieldset id="shipping">
                <div class="frb-group d-flex flex-row align-items-start justify-space-between">
                    <div class="frb frb-primary m-1" style="width: 45%">
                        <input type="radio" id="shipping-0" name="shipping" value="shipping0">
                        <label for="shipping-0">
                            <span class="frb-title">Regular Shipping</span>
                            <span class="frb-description">2 - 3 working days</span>
                        </label>
                    </div>
                    <div class="frb frb-primary m-1" style="width: 45%">
                        <input type="radio" id="shipping-1" name="shipping" value="shipping1">
                        <label for="shipping-1">
                            <span class="frb-title">Next Day Service</span>
                            <span class="frb-description">Arrive tomorrow!</span>
                        </label>
                    </div>            
                </div>
                </fieldset>
            </div>
                     
        </div>
        
        <!------------ PAYMENT METHOD ------------>
        <div class="cart d-flex flex-row align-items-center my-3"><div class="circle m-2"></div><h4>Payment Method</h4></div>
        <div class="row method">
            <div class="col-md-8">
                <fieldset id="payment-method">
                <div class="frb-group d-flex flex-row align-items-start justify-space-between">
                    <div class="frb frb-primary m-1" style="width: 45%">               
                        <input type="radio" id="payment-method-3" name="payment-method" value="pay3">
                        <label for="payment-method-3">
                            <span class="frb-title">GoPay</span>
                            <span class="frb-description">Pay without hassle, powered by GoJek</span>
                        </label>
                    </div>
                    <div class="frb frb-primary m-1" style="width: 45%">
                        <input type="radio" id="payment-method-4" name="payment-method" value="pay4">
                        <label for="payment-method-4">
                            <span class="frb-title">Debit Card</span>
                            <span class="frb-description">Insert your payment details upon checkout.</span>
                        </label>                       
                    </div>
                    </div>
                </div>
                </fieldset>
                
        </div>
    {% elif transaksi %}
        <!-- <div class="card w-50 p-4 mx-auto">            
            <h2 class="card-title">{{transaksi.name}}</h2>
            <div class="card-text">
                <div class="float-left">Final Price: </div>
                <div class="float-right">{{transaksi.finalPrice}}</div>
            </div>
            <div class="card-text">
                <div class="float-left">Promo Code: </div>
                <div class="float-right">{{transaksi.kodePromo}}</div></div>
            <div class="card-text">
                <div class="float-left">Date of Transaction: </div>
                <div class="float-right">{{transaksi.date}}</div></div>
            <a href="{% url 'review:review' %}" class="btn btn-primary w-100 my-2">Leave A Review</a>
        </div> -->

        <div class="d-flex justify-content-center">
        <div class="card col-md-6">
            <h3 class="mt-3">Payment Invoice #{{ transaksi.id }}</h3>
            <ul class="list-group mt-2" style="list-style: none;">
                <li class="list-group-item d-flex justify-content-between">
                    <b>Name: </b> <span>{{ transaksi.name }}</span>  
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <b>Product(s): </b>  
                    <div class="text-right">
                    {% for product in bought %}
                    <div>{{ product.product.name }} x{{ product.qty }}</div> 
                    {% endfor %}
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <b>Promo Code: </b> <span>{{ transaksi.kodePromo }}</span> 
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <b>Final Price: </b> <span>${{ transaksi.finalPrice }}</span> 
                </li>
            </ul>
            <div class="float-right">
                <a href="{% url 'home:index' %}" class="btn btn-secondary float-right my-2">Confirm & Return</a>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block css %}
.frb-group {
	margin: 15px 0;
}

.frb ~ .frb {
	margin-top: 15px;
}

.frb input[type="radio"]:empty,
.frb input[type="checkbox"]:empty {
	display: none;
}

.frb input[type="radio"] ~ label:before,
.frb input[type="checkbox"] ~ label:before {
	font-family: FontAwesome;
	content: '\f096';
	position: absolute;
	top: 50%;
	margin-top: -11px;
	left: 15px;
	font-size: 22px;
}

.frb input[type="radio"]:checked ~ label:before,
.frb input[type="checkbox"]:checked ~ label:before {
	content: '\f046';
}

.frb input[type="radio"] ~ label,
.frb input[type="checkbox"] ~ label {
	position: relative;
	cursor: pointer;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f2f2f2;
}

.frb input[type="radio"] ~ label:focus,
.frb input[type="radio"] ~ label:hover,
.frb input[type="checkbox"] ~ label:focus,
.frb input[type="checkbox"] ~ label:hover {
	box-shadow: 0px 0px 3px #333;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
	color: #fafafa;
}

.frb input[type="radio"]:checked ~ label,
.frb input[type="checkbox"]:checked ~ label {
	background-color: #f2f2f2;
}

.frb.frb-primary input[type="radio"]:checked ~ label,
.frb.frb-primary input[type="checkbox"]:checked ~ label {
	background-color: #337ab7;
}

.frb input[type="radio"]:empty ~ label span,
.frb input[type="checkbox"]:empty ~ label span {
	display: inline-block;
}

.frb input[type="radio"]:empty ~ label span.frb-title,
.frb input[type="checkbox"]:empty ~ label span.frb-title {
	font-size: 16px;
	font-weight: 700;
	margin: 5px 5px 5px 50px;
}

.frb input[type="radio"]:empty ~ label span.frb-description,
.frb input[type="checkbox"]:empty ~ label span.frb-description {
	font-weight: normal;
	font-style: italic;
	color: #999;
	margin: 5px 5px 5px 50px;
}

.frb input[type="radio"]:empty:checked ~ label span.frb-description,
.frb input[type="checkbox"]:empty:checked ~ label span.frb-description {
	color: #fafafa;
}

.frb.frb-default input[type="radio"]:empty:checked ~ label span.frb-description,
.frb.frb-default input[type="checkbox"]:empty:checked ~ label span.frb-description {
	color: #999;
}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){ 
        function grabTotal() {
            $.ajax({
                url: "{% url 'product:grabtotal' %}", 
                data: { user: '{{ user.username }}' },

                success: function(total) {
                    $("#totalPrice").text(`$${total.total}`);
                },

                type: 'POST'
            });
        }

        $(".move-down").click(function(){
            var id = $(this).attr("id");

            $.ajax({
                url: "{% url 'product:tbhkrg' %}", 
                data: { user: '{{ user.username }}', id: id, add: '' },

                success: function(product) {
                    console.log(product); 
                    $("#qty-" + id).text(product.qty);
                    $(".subtotal" + id).text(`$${product.subtotal}`); 
                    grabTotal();
                },

                type: 'POST'
            });
        });

        $(".move-up").click(function(){
            var id = $(this).attr("id");

            $.ajax({
                url: "{% url 'product:tbhkrg' %}", 
                data: { user: '{{ user.username }}', id: id, add: true },

                success: function(product) {
                    console.log(product); 
                    $("#qty-" + id).text(product.qty);
                    $(".subtotal" + id).text(`$${product.subtotal}`);
                    grabTotal(); 
                },

                type: 'POST'
            });
        });        

        $("#coupon-button").click(function(e) {
            console.log("kepanggil nih");
            var browseValue = $('#coupon-browse').val();
            $("#coupon-results").empty();
            console.log(browseValue);

            $.ajax({
                url: "{% url 'discount:listJSON' %}" + browseValue,
                dataType: "json",

                success: function(data) {
                    console.log(data);

                    for (i = 0; i < data.promosDict.length; i++) {
                        $('#coupon-results').append("<div class='dropdown-item card my-2 py-2'><p id='idKupon-" +
                            data.promosDict[i].id + "'>" + 
                            data.promosDict[i].name + "<span class='float-right'>" +
                            data.promosDict[i].persenDiskon + "%</span></p><p>" +
                            data.promosDict[i].expiredDate +
                            "</p><button type='button' kode='" +
                            data.promosDict[i].kodePromo +
                            "' class='useButton btn btn-custom' id='useButton'>Use</button></div>");
                            // alert("WOI BISA LOOPNYA");
                    }
                },

                type: 'GET'
            });
        });

        function Coupon(kode) {
            $.ajax({
                url: "{% url 'payment:useCoupon' %}",
                data: { 'kode' : kode},

                success: function(priceData) {
                    console.log(priceData); // DEBUG
                    $("#totalPrice").text('$' + priceData.discountPrice);

                    $("#id_promo").val("USED ALREADY");
                    $("#id_promo").attr("readonly", "readonly");
                },

                type: 'POST'
            });
        }

        $("#coupon-results").click(function(e) {
            if ($(e.target).hasClass("useButton")){
                console.log("keklik nih buttonnya");

                var kode = $(e.target).attr("kode");

                console.log(kode); // DEBUG
                Coupon(kode);
            }
        });
    });
</script>
{% endblock %}