git{% extends 'homepage/base.html' %}

{% load static %}

{% block title %} Shopepew | Checkout {% endblock %}

{% block body %}
    <div class="card">
		<ul class="list-group" style="list-style: none;">
			<li class="list-group-item"><b>Name: </b> {{ transaksi.name }} </li>
			<li class="list-group-item"><b>Product(s): </b> {{ transaksi.product }} </li>
			<li class="list-group-item"><b>Promo Code: </b> {{ transaksi.kodePromo }} </li>
			<li class="list-group-item"><b>Final Price: </b> ${{ transaksi.finalPrice }} </li>
		</ul>
		<div class="float-right">
			<a href="{% url 'home:index' %}">Confirm & Return</a>
		</div>
	</div>
{% endblock %}
