{% load static %}
<nav class="navbar navbar-adjust navbar-expand-lg navbar-dark fixed-top" style="background-color: #4e1a5c!important;">
    
    <a class="navbar-brand d-flex align-items-center" href="{% url 'home:index' %}">
      <!-- <img class="navbar-logo" src="{% static 'homepage/navbar-logo.svg' %}"> -->
      <i class="fas fa-shopping-bag navbar-logo mr-2"></i> Shopepew
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if home == 'yes' %}
        {% else %}
        <form class="form-inline my-2 my-sm" method="POST", action="{% url 'product:index' %}">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="product_name">
        </form>
        {% endif %}
        <ul class="navbar-nav mr-auto">
        </ul>
        <a class="nav-custom" href="{% url 'home:index' %}">Home</a>
        <br>
        <a class="nav-custom" href="{% url 'discount:discount' %}">Promos</a>
        <br>
        <a href="{% url 'product:index' %}"><button class="btn btn-primary my-2">Shop</button></a>
        {% if user.is_authenticated %}
          <a class="nav-custom" href="{% url 'payment:checkout' user.id %}">
            <i class="fas fa-shopping-cart"></i>
          </a>
          <br>
          <a class="nav-custom" href="{% url 'logout' %}">Logout</a>
        {% else %}
          <br>
          <a class="nav-custom" href="{% url 'login' %}">Login</a>
          <br>
          <a class="nav-custom" href="{% url 'register' %}">Register</a>
        {% endif %}
   </div>
</nav>
